<!DOCTYPE html>
<html lang="en"xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>cvte-系统登录页</title>
	<link rel="stylesheet" th:href="@{/css/index.css}">
	<script th:src="@{/js/jquery-1.8.3.js}"></script>
	<script type="text/javascript">
		$(function() {
			var a = ${articleModel};
			$("#title").val(a);
			//$("#content").innertext=${articleModel.content};

			$("#all").click(
					function() {
						$("[name=roles]:checkbox").attr("checked",
								$("#all").attr("checked") == "checked");
					});
			$("#reverse").click(function() {
				$("[name=roles]:checkbox").each(function() {
					$(this).attr("checked", !$(this).attr("checked"));
				});
			});
		});
	</script>
</head>
<div class="content-right">
	<div class="content-r-pic_w">
		<div style="margin:8px auto auto 12px;margin-top:6px">
			<span class="page_title">文章管理</span>
		</div>
	</div>
	<div class="content-text">
		<div class="square-order">
			<form action="logisticsSend.action" method="post">
			<input type="hidden" name="logisticsId" th:value="${logisticsModel.id}"/>
				<div style="border:1px">
					<table width="100%" border="0" cellpadding="0" cellspacing="0">
						<tr bgcolor="#FFFFFF">
							<td>&nbsp;</td>
						</tr>
					</table>
					<table width="100%" border="0" cellpadding="0" cellspacing="0">
						
						<tr bgcolor="#FFFFFF">
							<td width="18%" height="30" align="center">组织名称</td>
							<td width="32%" th:text="${logisticsModel.organization_name}">
							</td>
							<td width="18%" height="30" align="center">单据类型</td>
							<td width="32%" th:text="${logisticsModel.from_typeView}">
							</td>
						</tr>
						<tr bgcolor="#FFFFFF">
							<td colspan="4">&nbsp;</td>
						</tr>
						<tr bgcolor="#FFFFFF">
							<td width="18%" height="30" align="center">客户名称</td>
							<td width="32%" th:text="${logisticsModel.cus_name}">
							</td>
							<td width="18%" height="30" align="center">销售员</td>
							<td width="32%" th:text="${logisticsModel.sales_man}">
							</td>
						</tr>
						<tr bgcolor="#FFFFFF">
							<td colspan="4">&nbsp;</td>
						</tr>
						<tr bgcolor="#FFFFFF">
							<td width="18%" height="30" align="center">出货仓库</td>
							<td width="32%" th:text="${logisticsModel.warehouse}">
							</td>
							<td width="18%" height="30" align="center">提货地址</td>
							<td width="32%" th:text="${logisticsModel.pickup_address}">
							</td>
						</tr>
						<tr bgcolor="#FFFFFF">
							<td colspan="4">&nbsp;</td>
						</tr>
						<tr bgcolor="#FFFFFF">
							<td width="18%" height="30" align="center">销售型号</td>
							<td width="32%" th:text="${logisticsModel.sales_model}">
							</td>
							<td width="18%" height="30" align="center">生产批次</td>
							<td width="32%" th:text="${logisticsModel.batch_no}">
							</td>
						</tr>
						<tr bgcolor="#FFFFFF">
							<td colspan="4">&nbsp;</td>
						</tr>
						<tr bgcolor="#FFFFFF">
							<td width="18%" height="30" align="center">数量</td>
							<td width="32%" th:text="${logisticsModel.qty}">
							</td>
							<td width="18%" height="30" align="center">发货方式</td>
							<td width="32%" th:text="${logisticsModel.delivery_type}">
							</td>
						</tr>
						<tr bgcolor="#FFFFFF">
							<td colspan="4">&nbsp;</td>
						</tr>
						<tr bgcolor="#FFFFFF">
							<td width="18%" height="30" align="center">发货日期</td>
							<td width="32%" th:text="${logisticsModel.delivery_dateView}">
							</td>
							<td width="18%" height="30" align="center">撤单</td>
							<td width="32%" th:text="${logisticsModel.is_revokeView}">
							</td>
						</tr>
						<tr bgcolor="#FFFFFF">
							<td colspan="4">&nbsp;</td>
						</tr>
						
						<tr bgcolor="#FFFFFF">
							<td width="18%" height="30" align="center">类型</td>
							<td width="32%" th:text="${logisticsModel.do_detail_typeView}">
							</td>
							<td align="center">选择将要送达的公司&nbsp;</td>
							<td>
								<select  name="logiscustomId">
									<option th:each="o,iterStat:${logiscustomList}" th:text="${o.logiscustom_name}" th:value='${o.id}'></option>
								</select>
							</td>
						</tr>
						<tr bgcolor="#FFFFFF">
							<td colspan="4">&nbsp;</td>
						</tr>
					</table>
				</div>
				<div class="order-botton">
					<div style="margin:1px auto auto 1px;">
						<table width="100%" border="0" cellpadding="0" cellspacing="0">
							<tr>
								<td><a href="javascript:document.forms[0].submit()"><img
										src="images/order_tuo.gif" border="0" /></a></td>
								<td>&nbsp;</td>
								<td><a href="#"><img src="images/order_tuo.gif"
										border="0" /></a></td>
								<td>&nbsp;</td>
								<td><a href="#"><img src="images/order_tuo.gif"
										border="0" /></a></td>
							</tr>
						</table>
					</div>
				</div>
			</form>
		</div>
		<!--"square-order"end-->
	</div>
	<!--"content-text"end-->
	<div class="content-bbg">
		<img src="images/content_bbg.jpg" />
	</div>
</div>
