<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.baixinping.cvtepro.dao.CacheDao">
	<resultMap type="com.baixinping.cvtepro.entity.CacheModel" id="cacheRM">
		<id property="id" column="cache_code"/>
	</resultMap>
	<insert id="insert" parameterType="com.baixinping.cvtepro.entity.CacheModel">
		insert into cvte_cache
		(cache_code,model_code,cache_info_id ,cache_url,cache_update_time)
		values
		(
			#{id,jdbcType=VARCHAR},
			#{model_code ,jdbcType=VARCHAR},
			#{cache_info_id ,jdbcType=VARCHAR},
			#{cache_url ,jdbcType=VARCHAR},
			#{cache_update_time ,jdbcType=DATE}
		)
	</insert>
	
	<select id="list" parameterType="map" resultMap="cacheRM">
		select * from cvte_cache
		where 1=1
	</select>
	
	<select id="get" parameterType="string" resultMap="cacheRM">
		select * from cvte_cache
		where cache_code=#{id}
	</select>
	<select id="getByUrl" parameterType="string" resultMap="cacheRM">
		select * from cvte_cache
		where cache_url=#{cache_url}
	</select>
	<update id="update" parameterType="com.baixinping.cvtepro.entity.CacheModel">
		update cvte_cache
	    <set >
	      <if test="id != null" >
	        cache_code = #{id,jdbcType=VARCHAR},
	      </if>
	      <if test="model_code != null" >
	        model_code = #{model_code,jdbcType=VARCHAR},
	      </if>
	      <if test="cache_info_id != null" >
	        cache_info_id = #{cache_info_id,jdbcType=VARCHAR},
	      </if>
	      <if test="cache_url != null" >
	        cache_url = #{cache_url,jdbcType=VARCHAR},
	      </if>
	        <if test="cache_update_time != null" >
	        cache_update_time = #{cache_update_time,jdbcType=DATE},
	      </if>
	        <if test="cache_status != null" >
	        cache_status = #{cache_status,jdbcType=VARCHAR},
	      </if>
	    </set>
    	where cache_code = #{id,jdbcType=VARCHAR}
	</update>
</mapper>









