<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.baixinping.cvtepro.dao.EmpDao">
	<resultMap type="com.baixinping.cvtepro.entity.EmpModel" id="empRM">
		
		<id property="id" column="user_code"/>
	</resultMap>
	<select id="getEmpByUserNameAndUserPawd" parameterType="map" resultMap="empRM">
		select * from CVTE_USER
		where user_name = #{user_name} 
		and
		user_pwd = #{user_pwd}
	</select>
</mapper>









