<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.baixinping.cvtepro.dao.LogisticsDao">
	<resultMap type="com.baixinping.cvtepro.entity.LogisticsModel" id="logisticsRM">
		
		<id property="id" column="id"/>
	</resultMap>
	
	<!-- 查询 -->
	<select id="list" parameterType="map" resultMap="logisticsRM">
		select * from logistics_order
		where 1=1
	</select>
	<select id="get" parameterType="string" resultMap="logisticsRM">
		select * from logistics_order
		where id=#{id}
	</select>
	
	<!-- 新增 -->
	 <insert id="insert" parameterType="com.baixinping.cvtepro.entity.LogisticsModel">
		insert into logistics_order
		(id,title,content,created_time ,updated_time ,is_del)
		values
		(
			#{id,jdbcType=VARCHAR},
			#{title ,jdbcType=VARCHAR},
			#{content ,jdbcType=VARCHAR},
			#{created_time,jdbcType=DATE},
			#{updated_time,jdbcType=DATE},
			#{is_del,jdbcType=CHAR}
		)
	</insert>
	
	<delete id="deleteById" parameterType="String">
		delete from logistics_order
		where id=#{id}
	</delete>
	
	
	<update id="update" parameterType="com.baixinping.cvtepro.entity.LogisticsModel">
		update logistics_order
	    <set >
	      <if test="id != null" >
	        id = #{id,jdbcType=VARCHAR},
	      </if>
	      <if test="title != null" >
	        title = #{title,jdbcType=VARCHAR},
	      </if>
	      <if test="content != null" >
	        content = #{content,jdbcType=VARCHAR},
	      </if>
	      <if test="created_time != null" >
	        created_time = #{created_time,jdbcType=DATE},
	      </if>
	      <if test="updated_time != null" >
	        updated_time = #{updated_time,jdbcType=DATE},
	      </if>
	      <if test="is_del != null" >
	        is_del = #{is_del,jdbcType=CHAR},
	      </if>
	    </set>
    	where id = #{id,jdbcType=VARCHAR}
	</update>
</mapper>









